*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #666;
    color: #fff
};

body {
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

main h1 {
    padding: 10px;
}

main ul {
    padding: 10px;
}

#formdiv {
    background-color: red;
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}